<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간단 계산기</title>
</head>
<body>
    <form action="./calc_action" method="get">
        <input type="number" name="num1" id="" size="5">
        <select name="opr" id="">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
            <input type="number" name="num2" id="" size="5">
            <input type="submit" value="계산하기">
        </select>
    </form>
</body>
</html>